
.name__bar {
    display: flex;
    margin-right: 12px;
    height: 25px;
    background-color: #eee5b8;
    align-items: center;
    padding-left: 20px;
    font-weight: 700;
    border: 1px solid #e4eaef;
    border-top: none;
    grid-column: 1/3;
    grid-row: 1/2;
  }