.header {
    background-color: #4c75a3;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 46px;

  }
  
  .header img {
    width: 150px;
    height: 40px;
    padding-left: 20px;
   
  }
 
  .users {
    grid-column: 4/5;
    justify-self: center
  }

  .users a {
    color: white;

  }

