.wall_textarea {
  width: 96%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid rgba(156, 156, 156, 0.4);
  margin: 0 auto;
  background-color: rgba(156, 156, 156, 0.15);
}

.textarea {
  width: 98%;
  outline: none;

  resize: vertical;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea:focus {
  border: 1px solid grey;
}

textarea:valid {
  border: 1px solid grey;
}

.sorting_post {
  display: flex;
  flex-direction: column-reverse;
}

.nothingPost {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nothingPost span {
  color: #a5a5a5;
}

