.content {
  
    padding-top: 20px;
    border-right: 1px solid  #e4eaef ;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-right: 12px;
    margin-left: 10px;
  }


  .grey_line {
    height: 1px;
    width: 97%;
    background-color: grey;
    opacity: 0.3;
    margin-bottom: 20px;
    margin-top: 1px;
  }
  

  
  .timer_status {
    color: #9d9d9d;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .information_bar {
    width: 97%;
    height: 20px;
    background-color: #dce0e9;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #485d7c;
    padding-top: 5px;
    padding-left: 5px;
    border-top: 2px solid #485d7c;
  }

  
  .name_surname {
    color: #485d7c;;
  font-weight: 700;
  display: flex;
  width: 100%;
  margin-left: 10px;
  }

  .write_on_wall {
    color: #859aac;
    margin-left: 73%;

  }