.unFocus {
    fill: #c0cbd7;
    cursor: pointer;
    top: 5px;
    width: 12px;
}

.focus {
    fill: #5d81b5;
    cursor: pointer;
    top: 5px;
    width: 12px;
}

.unFocus:hover {
    fill: #5d81b5;
}
