* {    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  font-size: 14px;}



.grid_container {
  width: 1175px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "header  header"
    "nav module";
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 12px;
  
     

}

a { 
    text-decoration: none;
    color:#4c75a3;
}

.left_side span {
  color: #9d9d9d;
  margin-left: 10px;
}

.right_side {
  margin-left: 50px;
}

.flex_row {
  display: flex;
}

.div_informations {
  color: #4c75a3;
  font-weight: 700;
  margin-left: 10px;
  margin-bottom: 5px;
  
}

.module {
  grid-area: module;
}









